*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --bs-primary: #0d6efd;
    --color-primary:#6c63ff;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #ec290f;
    --bs-light: #f8f9fa;
    --color-white: #fff;
    --bs-dark: #212529;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --transition: all 400ms ease;
    --color-bg2:#424890;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}
body{
    background-color: var(--color-bg);
    line-height: 1.7;
    color: var(--color-white);
    font-family: "montserrat", sans-serif;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

a{
    font-size: 1rem;
    line-height: 1.2;
    color: var(--bs-light);
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
section{
    margin: 5rem 0;
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white  );
    color: var(--bs-dark);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 700;
    transition: var(--transition);
}
.btn-primary{
    background: var(--bs-danger);
    color: var(--color-white);
}
.btn:hover{
    background: transparent;
    color: var(--bs-light);
    border-color: var(--color-white);
}
/* nav */
nav{
    height: 5rem;
    background-color:transparent;
    width: 100vw;
    position: fixed;
    z-index: 11;
}
.nav__container a img{
    width: 30%;
    filter: invert(12%);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__container ul{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.nav__container ul li a{
    transition: var(--transition);
}
.nav__container ul li a:hover{
    color: #5a6079;
}
.nav__container .menubar,.close{
    display: none;
}
.flex{
    display: flex;
}
.inline-block{
    display: inline-block;
}
.none{
    display: none;
}
/* change navbar color onscroll */
.window-scroll{
    background-color: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
   
}


/* HEADER */
header{
   
    height: 75vh;
    /* overflow: hidden; */
    margin-bottom: 5rem;
}
.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    position: relative;
    top: 5rem;
}
.header__container h3{
    
    text-align: left;
    font-size: 2rem;
    
}
.header__left p{
    margin: 1rem 0 2.4rem;
}


/* categories */
.categories{
    background: var(--color-bg1);
    height: 18rem;
}
.categories img{
    width: 30px;
    filter: invert(100%) ;
    
    padding: 0.3rem;
    border-radius: 1rem;
}
.category:nth-child(1) .category__icon img{
    background-color: var(--bs-blue);
}
.category:nth-child(3) .category__icon img{
    background-color: var(--bs-danger);
}
.category:nth-child(4) .category__icon img{
    background-color: var(--bs-info);
}
.category:nth-child(5) .category__icon img{
    background-color: var(--bs-pink);
}
.category:nth-child(6) .category__icon img{
    background-color: var(--color-bg2);
}
.category:nth-child(2) .category__icon img{
    background-color: violet;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}

.categories__left p{
    margin: 1rem 0 3rem;
}
.categories__left{
    margin-right: 4rem;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: var( --color-bg2);
    padding: 1.0rem;
    border-radius: 2rem;
    transition: var(--transition);
    z-index: 1; 
}
.category:hover{
    box-shadow:  0.3rem 2rem rgba(0, 0, 0, 0.103);
}

.category h5{
    margin: 2rem 0rem 1rem;
}

.category p{
    font-size: 0.85rem;
}



/* our course */

.ourcourse__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}
.ourcourse__container p{
    font-size: 0.9rem;
}

.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    border-color: var(--color-primary);
    box-shadow: 1rem 1rem 20rem rgba(0, 0, 0, 0.103);
}

.course__info{
    padding: 0.6rem;
}

.course__info p{
    margin: 1.0rem 0 2rem;
    font-size: 0.8rem;
}


/* faq */
.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.faq{
    display: flex;

    padding: 2rem;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon{
    align-self: flex-start;
    width: 10%;
    filter: invert(100%);
}
 .open .faq__icon {
     width: 100px;
 }

.faq p{
    margin-top: 0.4rem;
    display: none;
}

 .open p{
    display: block;
}
.faq .plus{
    display: block;
}
.faq .minus{
    display: none;
}
.open .plus{
    display: none;
}
.open .minus{
    display: inline;
}
.faq__icon-{
    width: 0;
}
.open .faq__icon-{
    width: 60px;
    align-self: flex-start;
    
    filter: invert(100%);
}



/* testimonials */

.testimonials__container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial__info{
    text-align: center;
}

.testimonial__body{
    background-color: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
 .testimonial__body::before{
     content: "";
     display: block;
     background: linear-gradient(
        135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary)
     );
     width: 3rem;
     height: 3rem;
     position: absolute;
     left: 42%;
     top: -1.5rem;
     transform: rotate(45deg);
    
 }

 /* footer */

 footer{
     background: var(--color-bg1);
     padding-top: 5rem;
     font-size: 0.9rem;

 }

 .footer__container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 5rem;
 }

.footer__container > div h4{
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer__logo img{
    width: 80%;
}



/*================================== about page ================================  */

.about{
    margin: 0;
}
.header__about{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem 0.5rem;
    gap: 5rem;
    height: 100%;
    position: relative;
    top: 5rem;
}




.achievements__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
}
.achievement__card{
    background: var(--color-bg1);
    text-align: center;
    border-radius: 1rem;
    padding: 1.6rem;
    transition: var(--transition);
    position: relative;
}
.achievement__icon img{
    width: 50%;
    /* position: relative;
    right: -25%; */
    filter: invert(100%);
    display: inline-block;
   
}
.achievement__card .red img{
    filter: invert(14%) sepia(87%) saturate(3908%) hue-rotate(353deg) brightness(115%) contrast(128%);
    
}
.achievement__card .blue img{
    filter: invert(39%) sepia(64%) saturate(417%) hue-rotate(100deg) brightness(96%) contrast(109%);
}
.achievement__card .gold img{
    filter: invert(78%) sepia(77%) saturate(1587%) hue-rotate(0deg) brightness(104%) contrast(106%);
}

.achievement__card:hover{
    background-color: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.2);
}


/* team */

.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    
}

.team__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member{
    background: var(--color-bg2);
    padding: 1.3rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.team__member-image img{
    filter: saturate(0);
}
.team__member:hover img{
    filter: saturate(1);
}
.team__member-socials{
    display: none;
    transition: var(--transition);
}

.team__member-socials a img{
    display: inline-block;
    width: 100%;
  
}
.team__member:hover .team__member-socials img{
    filter: invert(100%);
}
.team__member .team__member-socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    top: 50%;
    height: 35%;
    width: 15%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
   
    right: -50%;
    justify-content:space-around;
    padding: .2rem;
    align-items: center;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transform: translateY(-50%);
    
}
.team__member:hover .team__member-socials{
    right: 0%;
    
    
}
.team__member-socials a{
    padding: 0.3rem 0rem;
}
.team__member__info *{
    text-align: center;
    
}
.team__member__info p{
    color: var(--bs-light);
}



/* contact page */
.contact{
  margin: 0;
    
    
}
.contact__container{
    background: var(--color-bg1);
    height: 30rem;
    display: grid;
    grid-template-columns: 40% 60%;
    
    margin: ;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    gap: 4rem;
}
/* aside */
.contact__aside{
    position: relative;
    background: var(--color-primary);
    width: ;
    padding: 3rem ;
    bottom: 5rem;
    
   border-radius: 3rem;
}
.aside__image{
    width: 100%;
    margin-bottom: 2rem;
}


.contact__aside ul li img{
    display: inline-block;
    width: 5%;
    filter: invert(100%);
}
.contact__socials{
    display: flex;
   gap: 0.8rem;
   margin-top: 0.8rem;

}
.contact__socials li a img{
    width: 100%;
}
.contact__socials li a{
    background: var(--color-bg2);
    padding: 0.1rem;
    border-radius: 50%;
    transition: var(--transition) ;
}

.contact__socials li a:hover{
    background: transparent;
}

/* form */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
   
    margin-top: 2rem;
}

.form__name{
    display: flex;
    gap: 1.2rem;
}

form input[type="text"]{
    width: 35%;
}

input, textarea{
    width: 80%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
    background: var(--bs-red);
}